body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #9d2a2a;
}

.container {
  width: 50%;
  margin: auto;
  background: rgb(207, 87, 87);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  margin-bottom: 20px;
  padding: 20px;
  background: #e3f2fd;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

.vm-list ul {
  list-style-type: none;
  padding: 0;
}

.vm-list li {
  background: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
